<nav class="mat-elevation-z6 background-colors-primary-500">
  <button
    class="right"
    mat-raised-button
    color="accent"
    (click)="authService.logout()">
    Logout
  </button>
</nav>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item [routerLink]="item?.route" *ngFor="let item of sidebarItems;" routerLinkActive="active">
        <mat-icon matListIcon>{{ item?.icon }}</mat-icon>
        <span>{{ item?.title }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
